<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
      <li class="media well">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <%= link_to user.name, user_path(user) %>
          </div>
          <div>
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'Unfollow', class: 'btn btn-danger btn-sm' %>
                  <% end %>
                <% else %>
                  <%= form_for(current_user.relationships.build) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'Follow', class: 'btn btn-primary btn-sm' %>
                  <% end %>
                <% end %>
              <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>